
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > .logo {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom-right-radius: 48px;

    height: 92px;
    width: 144px;

    > img {
      width: 64px
    }
  }
  > .menu {
    margin-right: 32px;
  }

  > .search {
    cursor: pointer;

    width: 32px;
    display: none;
    margin-right: 32px;

    > img {
      width: 32px;
      filter: drop-shadow(0 4px 2px #0002);
    }
  }
}
