/*
We create this styles sheet to theme the application website with basic appearances that will allow the mounting
of content to be straight forward...
*/
body {
  margin: 0;
}
body > div {
  margin: 0;
  font-family: Segoe UI, sans-serif;
  letter-spacing: 2px;
  overflow-x: hidden;
  background: linear-gradient(135deg, #888, #000);
  display: flex;
  flex-flow: column;
}

a {
  text-decoration: none;
  color: white;
}

.background {
  width: 120vw;
  height: 120vh;
  position: fixed;
  z-index: 0;
}

@keyframes popin {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fromright {
  from {
    transform: translateX(256px);
  }
  to {
    transform: translateX(0);
  }
}
.menu {
  position: relative;
  z-index: 5;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 256ms;
  transform: scale(0);
}
.menu:hover {
  transition: transform 256ms;
  transform: scale(1.1);
}
.menu.load {
  animation: popin 280ms cubic-bezier(0.12, 1.8, 0.55, 0.84) 512ms both;
}

.filter {
  filter: drop-shadow(0 2px 4px #00000008);
}

#floater {
  position: fixed;
  right: -256px;
  bottom: 0;
  top: 0;
  width: 256px;
  background: linear-gradient(135deg, #000, #888);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
#floater > div {
  font-weight: bold;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation > .logo {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 48px;
  height: 92px;
  width: 144px;
}
.navigation > .logo > img {
  width: 64px;
}
.navigation > .menu {
  margin-right: 32px;
}
.navigation .mx-menu {
  display: none;
  justify-content: flex-start;
  align-items: center;
  gap: 44px;
  color: white;
}
.navigation .mx-menu > div {
  font-size: 14pt;
  font-weight: bolder;
  cursor: pointer;
  transition: transform 256ms;
  transform: scale(1);
}
.navigation .mx-menu > div:hover {
  transition: transform 256ms;
  transform: scale(1.1);
}
.navigation > .search {
  cursor: pointer;
  width: 32px;
  display: none;
  margin-right: 32px;
}
.navigation > .search > img {
  width: 32px;
  filter: drop-shadow(0 4px 2px #0002);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 32px;
}
.content > div {
  flex: 1;
}
.content > div:first-child {
  margin-top: 128px;
}
.content > div:first-child > p {
  font-weight: bold;
  font-size: 24pt;
  color: white;
  text-shadow: 0 4px 4px #0004;
  letter-spacing: 4px;
  transform: translateX(-256px);
  transition: transform 256ms;
}
.content > div:first-child > div {
  margin-top: 64px;
  transform: translateX(-256px);
  transition: transform 256ms;
}
.content > div:first-child > div > p:first-child {
  color: #FFAA02;
  font-size: 10pt;
}
.content > div:first-child > div > p:last-child {
  color: white;
  font-size: 8pt;
  letter-spacing: 1px;
  font-weight: lighter;
}
.content > div:last-child {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
.content > div:last-child > p {
  cursor: pointer;
  color: white;
  font-weight: lighter;
  font-size: 14pt;
  transition: font-weight 256ms, color 256ms, transform 256ms;
  transform: scale(1) translateX(256px);
}
.content > div:last-child > p:hover {
  transition: font-weight 256ms, color 256ms;
  font-weight: bold;
  color: #FFAA02;
}
.content > div:last-child > p:active {
  transition: transform 256ms;
  transform: scale(1.05);
}

.pane {
  display: flex;
  flex-flow: column;
  align-self: center;
  margin-top: 64px;
}
.pane > .panel {
  background: white;
  box-shadow: 0 4px 8px 1px #0002;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 16px 32px;
  border-radius: 16px;
}
.pane > .panel > img {
  width: 64px;
  margin-top: -16px;
}
.pane > .panel > div {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.pane > .panel > div > p {
  text-align: center;
}
.pane > .panel > div > p:first-child {
  font-weight: bold;
  font-size: 10pt;
}
.pane > .panel > div > p:last-child {
  font-weight: lighter;
  font-size: 8pt;
  margin: 24px;
}

.what {
  margin: 32px;
  display: flex;
  flex-flow: column;
}
.what > p {
  text-align: right;
  font-weight: bold;
  font-size: 24pt;
  color: white;
  text-shadow: 0 4px 4px #0004;
  letter-spacing: 4px;
}
.what > div:nth-child(2) {
  margin-bottom: 64px;
}
.what > div {
  display: flex;
  flex-flow: column;
}
.what > div > div:first-child {
  display: flex;
  flex-flow: column;
}
.what > div > div:first-child > div:first-child {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  box-shadow: 0 4px 4px 1px #0002;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.what > div > div:first-child > div:first-child > img {
  width: 40px;
}
.what > div > div:first-child > p:nth-child(2) {
  color: white;
  font-size: 12pt;
  font-weight: lighter;
}
.what > div > div:first-child > p:nth-child(3) {
  color: #FFAA02;
  font-weight: bold;
  font-size: 14pt;
}
.what > div > div:first-child > p:nth-child(4) {
  color: white;
  font-weight: lighter;
  font-size: 8pt;
}
.what > div > div:last-child > img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 4px 1px #0002;
}
.what > div:nth-child(2n+1) > div {
  align-items: flex-end;
}
.what > div:nth-child(2n) > div {
  align-items: flex-start;
}

.find {
  margin: 32px;
}
.find > p:first-child {
  text-align: right;
  font-weight: bold;
  font-size: 24pt;
  color: white;
  text-shadow: 0 4px 4px #0004;
  letter-spacing: 4px;
}
.find > p:nth-child(2) {
  color: white;
  font-weight: lighter;
  font-size: 8pt;
}
.find > div {
  width: 100%;
  height: 400px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 4px 1px #0002;
}
.find > div > img {
  object-fit: cover;
}

.services {
  margin: 64px;
}
.services > p:first-child {
  text-align: right;
  font-weight: bold;
  font-size: 24pt;
  color: white;
  text-shadow: 0 4px 4px #0004;
  letter-spacing: 4px;
}
.services > p:nth-child(2), .services > p:nth-child(4) {
  color: white;
  font-weight: lighter;
  font-size: 8pt;
}
.services > p:nth-child(3) {
  color: #FFAA02;
  font-weight: bold;
  font-size: 14pt;
}
.services > form {
  display: flex;
  flex-flow: column;
  margin-top: 32px;
}
.services > form > input {
  border: none;
  padding: 16px;
  border-radius: 12px;
}
.services > form > button {
  margin-top: 24px;
  width: 80px;
  height: 44px;
  border-radius: 12px;
  background: #FFAA02;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 10pt;
}

.footer {
  min-height: 256px;
  padding: 32px;
  background: white;
}
.footer > p:nth-child(2) {
  color: black;
  font-weight: bold;
  font-size: 28pt;
}
.footer > p:last-child {
  color: black;
  font-weight: lighter;
  font-size: 6pt;
}
.footer > .contact {
  margin-bottom: 32px;
}
.footer > .contact > p {
  margin: 0;
}
.footer > .contact > p:first-child {
  margin-bottom: 12px;
  font-weight: bold;
}
.footer > .contact > p:not(:first-child) {
  font-size: 8pt;
}

@media screen and (min-width: 720px) {
  /*
  With tablet mode we should show the search icon
  */
  .navigation > .search {
    display: inline;
  }

  /*
  We then make the max width of the pane class 380px to prevent overstretching
  */
  .pane {
    max-width: 380px;
  }

  /*
  Then we flex the what panel properly
  */
  .what > div {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }
  .what > div > div {
    flex: 1;
  }
  .what > div:nth-child(2n+1) {
    flex-flow: row-reverse;
  }

  .counselling {
    margin: 0 20% 48px;
  }
}
@media screen and (min-width: 1028px) {
  .navigation .mx-menu {
    display: flex;
  }
  .navigation .menu {
    display: none;
  }

  .content > #content {
    padding-left: 164px;
  }
  .content > #content > p:first-child {
    font-size: 32pt;
    margin: 0;
  }
  .content > #content > p:nth-child(2) {
    margin-left: 128px;
    font-size: 32pt;
    margin-top: 0;
    margin-bottom: 0;
  }
  .content > #content > div:nth-child(3) {
    width: 256px;
    margin-left: 400px;
  }

  .pane {
    display: flex;
    flex-flow: row;
    max-width: none;
  }
  .pane > .panel {
    max-width: 320px;
    height: 200px;
  }
  .pane > .panel:nth-child(2) {
    margin-top: 128px;
  }
  .pane > .panel:nth-child(3) {
    margin-top: 256px;
  }

  .what {
    display: flex;
    flex-flow: column;
    margin: 96px 20% 0;
  }
  .what > p {
    align-self: flex-end;
    text-align: left;
  }
  .what > div > div {
    max-width: 320px;
  }

  .find {
    display: flex;
    flex-flow: column;
    margin: 96px 20% 0;
  }

  .services {
    margin: 0 20% 48px;
  }
  .services > form {
    max-width: 512px;
  }

  .counselling {
    margin: 0 20% 48px;
  }
  .counselling > form {
    max-width: 512px;
  }
  .counselling > div {
    flex-flow: row !important;
  }
}
.titling {
  min-width: 320px;
  max-width: 60%;
  margin: 128px auto;
}
.titling > p:first-child {
  font-size: 24pt;
  color: white;
  font-weight: bold;
  text-shadow: 0 4px 4px #0002;
}
.titling > p:last-child {
  font-size: 10pt;
  color: white;
}

.counselling > p {
  color: white;
  font-weight: bold;
  text-shadow: 0 4px 4px #0002;
  font-size: 16pt;
  margin-bottom: 40px;
  margin-left: 24px;
  margin-right: 24px;
}
.counselling > div {
  display: flex;
  gap: 48px;
  margin-bottom: 12px;
  margin-left: 24px;
  margin-right: 24px;
  flex-flow: column;
}
.counselling > div > div {
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  gap: 12px;
}
.counselling > div > div > div:first-child {
  min-width: 64px;
  height: 64px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 4px 1px #0002;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counselling > div > div > div:first-child > img {
  position: relative;
  object-fit: contain;
  width: 40px;
}
.counselling > div > div > div:last-child > p:first-child {
  color: white;
  font-size: 14pt;
  font-weight: bold;
}
.counselling > div > div > div:last-child > p:last-child {
  color: white;
  font-size: 10pt;
  line-height: 24px;
}

/*# sourceMappingURL=style.css.map */
