
.titling {
  min-width: 320px;
  max-width: 60%;
  margin: 128px auto;

  > p:first-child {
    font-size: 24pt;
    color: white;
    font-weight: bold;
    text-shadow: 0 4px 4px #0002;
  }
  > p:last-child {
    font-size: 10pt;
    color: white;
  }
}
