$primary: #FFAA02;

.what {
  margin: 32px;
  display: flex;
  flex-flow: column;

  > p {
    text-align: right;
    font-weight: bold;
    font-size: 24pt;

    color: white;
    text-shadow: 0 4px 4px #0004;
    letter-spacing: 4px;
  }

  > div:nth-child(2) {
    margin-bottom: 64px;
  }
  > div {
    display: flex;
    flex-flow: column;

    > div:first-child {
      display: flex;
      flex-flow: column;

      > div:first-child {
        width: 64px;
        height: 64px;
        border-radius: 32px;

        box-shadow: 0 4px 4px 1px #0002;
        background: white;

        display: flex;
        justify-content: center;
        align-items: center;

        > img {
          width: 40px;
        }
      }

      > p:nth-child(2) {
        color: white;
        font-size: 12pt;
        font-weight: lighter;
      }
      > p:nth-child(3) {
        color: $primary;
        font-weight: bold;

        font-size: 14pt;
      }
      > p:nth-child(4) {
        color: white;
        font-weight: lighter;
        font-size: 8pt;
      }
    }
    > div:last-child {
      > img {
        width: 100%;
        border-radius: 12px;
        box-shadow: 0 4px 4px 1px #0002;
      }
    }
  }
  > div:nth-child(2n + 1) {
    > div {
      align-items: flex-end;
    }
  }
  > div:nth-child(2n) {
    > div {
      align-items: flex-start;
    }
  }
}
